<h4>Login: </h4>
<div class="card mt-4">
  <div class="card-body">
    <form action="" method="post">
      <label for="mail">E-mail</label>
      <input type="email" name="mail" required class="form-control" />

      <label for="password">Password: </label>
      <input type="password" name="password" required class="form-control" />

      <button type="submit">Login</button>
    </form>

  </div>
</div>